.brendovi-wrapper {
    background-color: #ecefe9;
}

.brendovi {
    max-width: 1600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
    position: relative;
}

.brendovi-naslov {
    padding: 0 35px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.brend-slika {
    max-width: 300px;
    max-height: 80px;
}

.brand {
    max-width: 300px;
    max-height: 80px;
}



.brendovi-slike-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    /* padding: 0px 35px 0px 35px; */
    max-width: 1600px;
   
    justify-content: space-evenly;
}

@media screen and (max-width:1560px) {
    .brendovi-slike-wrapper {
        display: flex;
        flex-direction: row;
        /* padding: 0px 35px 0px 35px; */
        
        justify-content: space-evenly;
    }
    .brend-slika {
        width: 300px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 0 35px; */
    }
    .brand {
        width: 300px;
        height: 80px;
    }
    
}

@media screen and (max-width:683px) {
    .brendovi-slike-wrapper {
       
        width: 650px;
    }
    .brend-slika {
        width: 650px;
        
    }
    .brand {
        width: 650px;
        
    }
    
}