.connect-body-wrapper {
    /* background-color: #ecefe9; */
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.connect-main-wrapper {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    /* align-content: center; */
    padding: 0 40px;
}

.connect-left-title {
    padding-bottom: 25px;
    padding-top: 55px;
}

.connect-left-wrapper, .connect-right-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.connect-btn {
    color: white;
    background-color: #92c83e;
    border-radius: 5px;
    width: 180px;
    height: 55px;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2.25;
    font-size: 25px;
}

.connect-btn:hover {
    cursor: pointer;
}

.connect-btn:focus, .connect-input:focus {
    outline: none;
}

.connect-input {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    /* background-image: url(../media/newsletter.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 86px; */
    border: 0px;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 20px;
    border: 3px solid white;
    border-right: none;
}

.connect-inside-wrapper {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    /* background-color: white; */
    justify-content: space-between;
    /* max-width: 800px; */
    /* justify-content: flex-start; */
    height: 100%;
}

.connect-btn-wrapper {
    /* flex: 1; */
    padding: 30px 0;
}

.connect-text {
    flex: 1;
    /* padding: 0 30px 0px 30px; */
    /* text-align: justify; */
}

.connect-header {
    /*     max-width: 770px;
    max-height: 200px; */
    max-height: 150px;
}

.connect-subtitle {
    /* flex: 1; */
    padding: 25px 0;
    width: 100%;
    /* height: 120px; */
}

.newsletter-box{
    width: 100%;
    height: 120px;
    display: flex;
    /* padding: 25px 0; */
}

.send-term{
    width: 100%;
    border: 3px solid white;
    border-right: none;
    font-size: 25px;
    padding: 20px;
    height: 120px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: black;
    background-color: white;
}

.sendButton{
    width: 50px;
    height: 120px;
    border: 1px solid #92c83e;
    background: #92c83e;
    text-align: center;
    color: #ffffff;
    /* background-image: url("/media/header-search.png"); */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 25px;
}

@media screen and (max-width:1100px) {
    .connect-main-wrapper {
        flex-wrap: wrap;
    }
    .connect-left-wrapper {
        width: 100%;
    }
    .connect-right-wrapper {
        width: 100%;
    }
    .connect-header {
        max-height: 170px;
    }
}

@media screen and (max-width: 683px) {
    .connect-main-wrapper {
        flex-wrap: wrap;
    }
    .connect-left-wrapper {
        width: 100%;
    }
    .connect-right-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .newsletter-box {
        height: 90px;
    }
    .sendButton {
        height: 90px;
    }
    .send-term {
        height: 90px;
        font-size: 20px;
    }
    ::placeholder{
        color: transparent;
    }
}

@media screen and (max-width: 420px) {
    .newsletter-box {
        height: 50px;
    }
    .sendButton {
        height: 50px;
    }
    .send-term {
        height: 50px;
        font-size: 18px;
        word-wrap: break-word;
    }
    
}

/*
@media screen and (max-width:1500px){
    .connect-inside-wrapper{
        max-width: 650px;
        max-height: 550px;
    }
    .connect-header{
        width: 650px;
        height: 150px;
        
    }
    .connect-input{
        width: 520px;
        height: 70px;}
}
@media screen and (max-width:1400px){

    .connect-header{
        width: 600px;
        height: 150px;
        
    }
    .connect-inside-wrapper{
        width: 600px;
        height: 550px;
    }
    .connect-input{
        width: 420px;
        height: 70px;}
}
@media screen and (max-width:1300px){
    .connect-main-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
} */