.footer-wrapper{
    /* max-width: 1600px; */
    /* margin-top: 50px; */
    /* display: flex;
    flex-direction: row; */
    /* margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    background-color: #2f6b33;
    width: 100%;
}

.footer{
    max-width: 1600px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 70px 0;
    
}


.footer-kontakt-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    /* padding: 0 35px; */
    /* width: 1480px; */
    
}

.logo{
    margin-bottom: 20px;
}

.logo-tekst{
    color: white;
    font-size: 18px;
}

.kontakt{
    color: white;
    font-size: 18px;
}

.footer-kontakt-sve{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    position: relative; */
}

.leaf{
    width: 30px;
    height: 30px;
}

.leaf-slika{
    width: 300px;
}

.footer-slika{
    /* width: 330px; */
    /* padding: 0 35px; */
}

.footer-kontakt{
    display: flex;
    flex-direction: column;
    /* width: 300px; */
}

.footer-leaf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:1560px){
    .footer-kontakt-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        /* padding: 0 35px; */
        /* width: 1480px; */
        
    }
    
    .leaf{
        width: 30px;
        height: 30px;
    }
    
    .leaf-slika{
        width: 270px;
    }
    
    .footer-slika{
        /* width: 300px; */
        /* padding-right: 40px;
        padding-left: 40px; */
    }
    
    .footer-kontakt{
        display: flex;
        flex-direction: column;
        /* width: 270px; */
    }
    
    .footer-leaf{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media screen and (max-width:1380px){
    .footer-kontakt-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        /* flex-wrap: wrap; */
        overflow: hidden;
        padding: 0 35px;
        /* width: 1480px; */
        
    }
    
    .footer-leaf{
        display:none;
    }

    
    .footer-slika{
        /* width: 250px; */
    }
    
    .footer-kontakt{
        display: flex;
        flex-direction: column;
        /* width: 45%; */
    }

    
}

@media screen and (max-width:1190px){
    .footer{
        flex-wrap: wrap;
        padding: 40px 0 0 0;
    }
    .footer-kontakt-wrapper{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        flex-wrap: wrap;
        padding: 0 35px;
        /* align-items: center; */
        /* width: 1480px; */
        
    }
    .footer-leaf{
        display:none;
    }
    
    .footer-slika{
        /* width: 200px; */
        margin-bottom: 50px;
        padding: 0;
    }
    
    .footer-kontakt{
        display: flex;
        flex-direction: column;
        /* width: 200px; */
        /* margin-bottom: 50px; */
        /* justify-content: center; */
    }
}
    @media screen and (max-width:920px){
        .footer{
            flex-wrap: wrap;
            padding: 40px 0 0 0;
        }
        .footer-kontakt-wrapper{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            overflow: hidden;
            flex-wrap: wrap;
            padding: 0 35px;
            /* align-items: center; */
            /* width: 1480px; */
            
        }
        .footer-leaf{
            display:none;
        }
        
        .footer-slika{
            /* width: 350px; */
            margin-bottom: 50px;
            padding: 0;
        }
        
        .footer-kontakt{
            display: flex;
            flex-direction: column;
            /* width: 350px; */
            /* margin-bottom: 50px; */
            /* justify-content: center; */
        }
    }

        @media screen and (max-width:785px){
            .footer{
                flex-wrap: wrap;
                padding: 40px 0 0 0;
            }
            .footer-kontakt-wrapper{
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                position: relative;
                overflow: hidden;
                flex-wrap: wrap;
                padding: 0 35px;
                /* align-items: center; */
                /* width: 1480px; */
                
            }
            .footer-leaf{
                display:none;
            }
            
            .footer-slika{
                /* width: 350px; */
                margin-bottom: 50px;
                padding: 0;
            }
            
            .footer-kontakt{
                display:none;
            }
        }