.green-banner-wrapper {
    background-color: #dddddd;
    width: 100%;
}

.green-banner {
    max-width: 1600px;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.green-left {
    display: flex;
    flex-direction: row;
}

.green-right {
    display: flex;
    flex-direction: row;
    /* padding-right: 50px; */
}

.fa {
    color: #92c83e;
    padding: 0 30px 0 10px;
    height: 20px;
}

.green-info {
    padding: 0 30px 0 10px;
    color: #575757;
    font-size: 16px;
}

.green-kontakt {
    display: flex;
    /* padding: 0 30px; */
}

.green-icon {
    width: 20px;
    height: 20px;
}

.mobile-green-banner-wrapper {
    display: none;
}

.mobile-green-banner-wrapper {
    background-color: #dddddd;
    width: 100%;
}

.mobile-green-banner {
    max-width: 1600px;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.mobile-green-left {
    display: flex;
    flex-direction: row;
}

.mobile-green-right {
    display: flex;
    flex-direction: row;
    /* padding-right: 50px; */
}

.fa {
    color: #92c83e;
    padding: 0 30px 0 10px;
    height: 20px;
}

.mobile-green-info {
    padding: 0 30px 0 10px;
    color: #575757;
    font-size: 16px;
}

.mobile-green-kontakt {
    display: flex;
    /* padding: 0 30px; */
}

.mobile-green-icon {
    width: 20px;
    height: 20px;
}

/* 
@media screen and (max-width: 830px) {
    .green-banner {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .green-left {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 676px) {
    .green-banner {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .green-left {
        padding-bottom: 10px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .green-info {
        padding: 0 30px 5px 10px;
        color: #575757;
        font-size: 16px;
    }
    .green-right {
        display: flex;
        flex-direction: row;
        padding-right: 0px;
    }
}

@media screen and (max-width: 320px) {
    .green-banner {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .green-left {
        padding-bottom: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .green-info {
        color: #575757;
        font-size: 16px;
    }
    .green-right {
        display: flex;
        flex-direction: row;
        padding-right: 0px;
    }
    .green-kontakt {
        padding: 0;
        text-align: center;
    }
    .fa {
        color: #92c83e;
        padding: 0 10px;
        height: 20px;
    }
} */

@media screen and (max-width: 650px) {
    .green-banner-wrapper {
        display: none;
    }
    .mobile-green-banner-wrapper {
        display: flex;
    }
    .mobile-green-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-green-left {
        display: flex;
        padding-bottom: 5px;
        flex-direction: column;
        align-items: center;
    }
    .mobile-green-kontakt {
        display: flex;
        padding-bottom: 5px;
    }
}