.green-banner-wrapper{
    background-color: #dddddd;
    width: 100%;
}

.green-banner{
    max-width: 1600px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}


.green-left{
    display: flex;
    flex-direction: row;
}

.green-info{
    padding: 0 30px;
    color: #575757;
    font-size: 16px;

}
