.swiper-background {
    background-image: url("/media/hero-background.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* overflow: hidden; */
    flex:1;
}

.swiper-container {
    max-width: 850px;
    min-width: 600px;
    /* height: 100%; */
    /* overflow: hidden; */
}

.swiper-slide {
    height: 100%;
    /* max-width: 850px; */
    text-align: center;
    font-size: 18px;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    display: flex;
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; */
    align-items: left;
}

.swiper-slide-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.swiper-slider-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-slider-image {
    opacity: 30%;
}

.swiper-slider-image>img {
    /* margin-top: 25px; */
}

.swiper-slider-text-header h2 {
    font-size: 85px;
    font-weight: 700;
    color: #6b2b2e;
    padding-bottom: 40px;
}

.swiper-slider-text-main {
    font-weight: 800;
    color: #575757;
    font-size: 30px;
    padding-bottom: 60px;
    /* width: 50%; */
}

.swiper-slder-text-button>button {
    padding: 15px 30px 15px 30px;
    background-color: #f9da4c;
    border: none;
    color: #434343;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
}

@media screen and (max-width: 565px){
    .swiper-slider-text-header h2 {
        font-size: 60px;
        font-weight: 700;
        color: #6b2b2e;
        padding-bottom: 40px;
    }
    .swiper-slider-text-main {
        font-weight: 800;
        color: #575757;
        font-size: 20px;
        padding-bottom: 60px;
        /* width: 50%; */
    }
    .swiper-slder-text-button>button {
        padding: 15px 30px 15px 30px;
        background-color: #f9da4c;
        border: none;
        color: #434343;
        font-size: 20px;
        font-weight: 700;
        border-radius: 10px;
    }
    
}
