.magazin-wrapper {
    background-color: #ecefe9;
    position:relative;
    max-width: 1600px;
    margin:auto;
}

.magazin {
    max-width: 1600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
    position: relative;
}

.magazin-title {
    padding: 0 35px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.magazin-item-wrapper{
  
    background-color: white;
    max-width:475px;
    max-height:800px;
    width:100%;
    height:100%;
    position: relative;

}
.magazin-image-wrapper{
    width:100%;
    height:100%;
    position: relative;
    background-color:#2f6b33 ;

}
.magazin-item-image{
    width:100%;
    height: 95%;
  
  transition: .5s ease;
  backface-visibility: hidden;
  
}
.magazine-color-overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.magazin-image-wrapper:hover .magazin-item-image {
    opacity: 0.3;
    
  }
  
  .magazin-image-wrapper:hover .magazine-color-overlay {
    opacity: 1;
  }
  
.magazine-eye{
    
}
.magazin-text-wrapper{
    margin:50px 40px;
    
}
.magazin-item-button{
    width:170px;
    height:55px;
    background-color: #92c83e;
    color:white;
    font-size:25px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-top:10px; */
    line-height: 2.25;
    margin:auto;
}
.magazin-text-title{
    margin-bottom:30px;
}
.magazin-text-paragraf{
    margin-bottom:50px;
    font-size:20px;
}
.magazin-item-button:hover{
    cursor: pointer;
}

@media screen and (max-width:1560px){
    .magazin-item-wrapper{
        /* max-width: 450px; */
    }
}

@media screen and (max-width:767px){
    .magazin-item-wrapper{
        max-width:600px;
    }
}


/* @media screen and (max-width:1380px){
    .magazin-item-wrapper{
        max-width: 400px;
    }
}

@media screen and (max-width:1200px){
    .magazin-item-wrapper{
        max-width: 305px;
    }
} */