.header-block-search{
    width: 50%;
    height: 50px;
    display: flex;
    padding: 25px 0;
}

.searchButton {
    width: 70px;
    height: 50px;
    border: 1px solid #92c83e;
    background: #92c83e;
    text-align: center;
    color: #ffffff;
    background-image: url("/media/header-search.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-term {
    width: 100%;
    font-size: 16px;
    border: 3px solid white;
    border-right: none;
    padding: 20px;
    height: 50px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: black;
    background-color: white;
}